:root {
  --primary-text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --mini-text-color: #434455;
  --accent-color: #404bbf;
  --primary-white-color: #ffffff;
  --color-teamcard: #f4f4fd;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--mini-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/*Шапка сторінки */
/* Логотип */
.link {
  text-decoration: none;
}
.logo {
  color: var(--brand-color);
}
.logo-studio {
  color: var(--primary-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Посилання */

.list .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

/* Адреса */

.list .header-contact-link {
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--mini-text-color);
}
.list .header-contact-link:hover,
.list .header-contact-link:focus {
  color: var(--accent-color);
}

/* Перша секция */

.hero-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}

/* Кнопка order service */
.btn {
  font-family: "Roboto", cans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-white-color);
  background: var(--brand-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

/* Вторая секция */
/* Третья секция */
/* Четвертая секция */
.hide {
  visibility: hidden;
}
.subtitle {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
  .work-title .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}

/* Подвал */
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-teamcard);
  background: var(--primary-text-color);
}

/* Сервис приложения - страничка 2 */

/* Кнопки */

.btn {
  font-family: "Roboto", cans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}
.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.btn.link {
  color: var(--brand-color);
  background: var(--color-teamcard);
}


.btn-link    :hover,
.btn-link    :focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}




.our-projects {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.text-application {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}
