:root {
  --primary-text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --mini-text-color: #434455;
  --accent-color: #404bbf;
  --primary-white-color: #ffffff;
  --color-teamcard: #f4f4fd;
}
.portfolio-page {
  font-family: Roboto, sans-serif;
  color: var(--mini-text-color);
}
.main-page {
  font-family: Roboto, sans-serif;
  color: var(--mini-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/*Шапка сторінки */
/* Логотип */
.logo-link {
  text-decoration: none;
}
.logo-link {
  color: var(--brand-color);
}
.logo-studio {
  color: var(--primary-text-color);
}
.logo-link,
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Посилання */

.link {
  text-decoration: none;
}
.list .link,
.list .link,
.list .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
}
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

/* Адреса */

.address-nav .address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.address-nav .address-link:hover,
.address-nav .address-link:focus {
  color: var(--accent-color);
}

/* Первая секция */

.main-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}

/* Кнопка order service */
.btn {
  font-family: "Roboto", cans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-white-color);
  background: var(--brand-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

/* Вторая секция */
.hide {
  visibility: hidden;
}
.subtitle {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}

/* Третья секция */
/* Четвертая секция */
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primary-text-color);
  background: var(--primary-white-color);
}

.colleauge-img {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}

/* Подвал */
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-teamcard);
  background: var(--primary-text-color);
}

/* Сервис приложения - страничка 2 */

/* Кнопки */

.btn-all,
.btn-site,
.btn-app,
.btn-design,
.btn-marketing {
  font-family: "Roboto", cans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  color: var(--brand-color);
  background: var(--color-teamcard);
}

.btn-all:hover,
.btn-all:focus,
.btn-site:hover,
.btn-site:focus,
.btn-app:hover,
.btn-app:focus,
.btn-design:hover,
.btn-design:focus,
.btn-marketing:hover,
.btn-marketing:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.our-projects {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.text-application {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}
