:root {
  --primary-text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --mini-text-color: #434455;
  --accent-color: #404bbf;
  --primary-white-color: #ffffff;
  --color-teamcard: #f4f4fd;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--mini-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/*Шапка сторінки */
/* Логотип */
.link {
  text-decoration: none;
}
.logo {
  color: var(--brand-color);
}
.header .logo-studio {
  color: var(--primary-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Посилання */

.list .link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.list .header-link:hover,
.list .header-link:focus {
  color: var(--accent-color);
}

/* Адреса */
.header-address {
  font-style: normal;
}
.list .header-contact-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--mini-text-color);
}
.list .header-contact-link:hover,
.list .header-contact-link:focus {
  color: var(--accent-color);
}

/* Перша секция */

.hero {
  background-color: var(--primary-text-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  color: var(--primary-white-color);
}
  
/* Кнопка order service */

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--brand-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* Вторая секция */
/* Третья секция */
/* Четвертая секция */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primary-text-color);
}


/* 4 секція */
.section-team {
  background: var(--color-teamcard)
} 
.personal {
  background-color: var(--primary-white-color);
}

.section-subtitle {
  
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}

/* Подвал */
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-teamcard);
  background: var(--primary-text-color);
}

.footer {
  background: var(--primary-text-color);
}
.footer .logo-studio {
  color: var(--color-teamcard);
}


/* Сервис приложения - страничка 2 */

.portfolio-title {
  visibility: hidden; 
}

/* Кнопки Portfolio */

.btn-primary {
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  color: var(--brand-color);
  background-color var(--color-teamcard);
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: 
  var(--primary-white-color);
}

.project-text {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--mini-text-color);
}


/*  */